<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% include header %>
    <% if(logined == false){ %> 
      <input type="button" value="로그인" onclick="movein()">
    <% }else{ %> 
      <p>Welcome <%= nick %></p>
      <input type="button" value="로그아웃" onclick=logout();>
    <% } %> 
  </body>
  <script src="/javascripts/index.js"></script>
</html>