<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/svg1.css' />
    <link rel="stylesheet" href="/stylesheets/index.css">
    <style>
      p{
        color : white;
      }
    </style>
  </head>
  <body>
    
    <div>
      
      <% if(logined == false){ %> 
        <h1 class = "welcome">Welcome to <%= welcome %></h1>
        <% //include svg1 %>
        <div class = "login-position">
          <% include login %> 
        </div>
        
      <% }else{ %> 
        <div class="sign">
          <span class="fast-flicker">Welcome</span><span class="flicker"><%= nick %></span>
        </div>
        <canvas class = "index-position"></canvas>
        <% //include svg1 %>
        
        <input class = "btn_mypage" type="button" value="마이페이지" onclick="member()">
        <input class = "btn_logout" type="button" value="로그아웃" onclick="logout()">
        <input class = "btn_write" type="button" value="커뮤니티" onclick= "community()">
      <% } %> 
      
    </div>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/animate.js" ></script>
  </body>
  
</html>