<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/svg1.css' />
    <link rel="stylesheet" href="/stylesheets/index.css">
    <style>
      p, h1{
        color : white;
      }
      a{
        color : white;
        text-decoration: none;
      }
      .center{
        display :flex;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <div class = "center">
      <% if(logined == false){ %> 
          <div class = "login-position">
          <h1 class = "welcome">Welcome to</h1> <h1 class = "welcome"><%= welcome %></h1>
          <% include svg1 %>
          <% include login %> 
        </div>
        
      <% }else{ %> 
        
        <div class = "login-position">
          <% if(birth == true){ %>
            <h1 class = "welcomeNick">Happy BirthDay <%= nick %>!</h1>
          <% }else{ %>
            <h1 class = "welcomeNick">Welcome <%= nick %>!</h1>
          <% } %> 
           <% include svg1 %>
        </div>
        <canvas class = "index-position"></canvas>

        
        <a class = "member-btn" href="/member">MyTicket</a>
        <a class = "community-btn" href="/community">Community</a>
        <a class = "logout-btn" href="/logout">Logout</a>
        
      <% } %> 
      
    </div>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/animate.js" ></script>
  </body>
  
</html>