<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/svg1.css' />
    <link rel="stylesheet" href="/stylesheets/index.css">
    <style>
      p{
        color : white;
      }
      a{
        color : white;
      }
    </style>
  </head>
  <body>
    <div>
      <% if(logined == false){ %> 
        <h1 class = "welcome">Welcome to <%= welcome %></h1>
        <% include svg1 %>
        <div class = "login-position">
          <% include login %> 
        </div>
        
      <% }else{ %> 
        <div class="sign">
          <span class="fast-flicker">Welcome</span><span class="flicker"><%= nick %></span>
        </div>
        <canvas class = "index-position"></canvas>
        <% include svg1 %>
        
        <a href="/member">마이페이지</a>
        <a href="/logout">로그아웃</a>
        <a href="/community">커뮤니티</a>
      <% } %> 
      
    </div>
    <script src="/javascripts/index.js"></script>
    <script src="/javascripts/animate.js" ></script>
  </body>
  
</html>