<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../stylesheets/login.css">
</head>
<body>
    <form action="/login" method="POST">
        <p class = "label-nick">nickname</p>
        <input class = "input-nick"type="text" name="nick" placeholder="please write down your nickname">
        <p class = "label-pwd">password</p>
        <input class = "input-pwd" type="password" name="pwd" placeholder=" please write down your password">
        <input class = "submit-login" type="submit" value="login">
    </form>
    <a class = "input-signup" href="/sign_up">Join Us!</a>
    <script src="/javascripts/index.js"></script>
</body>
</html>