<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

</head>
<body>
    <div class = "total">
        <div class = "left">
            <div class = "user">

            </div>
            <div class = "my_friends">

            </div>
        </div>
        <div class = "right">
            <div class = "game_start">

            </div>
            <div class = "community">

            </div>
            <div class = "friends_list">

            </div>
        </div>
    </div>
</body>
</html>