<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hh</title>

</head>
<body>
    <div class = "total">
        <div class = "left">
            <div class = "user">
                <p><%= nick %>'s Page</p>
            </div>
            <div class = "my_friends">

            </div>
        </div>
        <div class = "right">
            <div class = "game_start">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/Bt2escpWj8Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class = "community">

            </div>
            <div class = "friends_list">
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>