<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    
    <link rel="stylesheet" href="../stylesheets/reserve.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
    <div class="reservation-container">
        <h2><%= title %></h2>
        <!-- 티켓 구매 -->
        <form class = "ticket" action="/reserve/ticket" method = "POST">
            <input type="date" name="reserveDate" min="2021-03-25" max="2021-04-25">
            <input class = "slider-range" type="range" name = "headCount" value = "1" min="1" max="4" step = "1">
            <font id = "slider-value">1</font>
            <input type="submit" value = "Buy Ticket">
        </form>
    </div>

    <script>
                // 티켓 선택
                function SliderValue(val){
            let obValueView = document.getElementById('slider-value');
            obValueView.innerHTML = val;
        }
        let rangeSlider = function(){
            let range = $(`.slider-range`);
            range.on('input', function(){
                SliderValue(this.value);
            });
        }
        
        rangeSlider();
    </script>
</body>

</html>