body{
    background-color: black;
    color : white;
}
a{
    color : white;
    text-decoration: none;
}
.attraction-img{
    width : 800px;
    height : 500px;
}
/* .center{
    display : flex;
    justify-items: center;
    overflow-y: scroll;
} */