body{
    background-color : black;
    color : white;
}
h2{
    display : flex;
    justify-content: center;
    margin-top : 5%;
}
.reservation-container{
    margin : 0 auto;
}
.ticket{
    display : flex;
    justify-content: center;
    z-index : 2;
    margin-top : 10%;
}

