canvas{
  background : transparent;
  width : 100vw;
  height : 100vh;
  padding : 0;
  margin : auto;
  position : absolute;
  top : 0;
  left : 0;
  z-index : -1;
}

.svg-body{
  background-color: black;
}

.svg-container .svg-icon{
  width : 10%;
}
.svg-container .svg-icon path{
  fill : transparent;
  stroke-width: 1;
  stroke : #ffffff ;
  /* stroke-dasharray: 1560;
  stroke-dashoffset: 1560; */
}

/* 환영합니다 닉네임 효과 */


